<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>San Francisco</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/normalize.css">
</head>

<body>
    <script src="https://kit.fontawesome.com/273ee32211.js" crossorigin="anonymous"></script>
    <header class="hero">
        <div class="container">
            <nav class="nav">
                <a href="inicio.html" class="nav__items nav__items nav__items--cta">Inicio</a>
                <a href="quienes_somos.html" class="nav__items">Quienes Somos</a>
                <a href="contactanos1.html" class="nav__items">Contactanos</a>
                <a href="usuarios.html" class="nav__items">Login</a>
            </nav>

            <section class="hero__container">
                <div class="hero__texts">
                    <h1 class="hero__title">ALMACÉN SAN FRANCISCO</h1>
                    <h4 class="hero__subtitle">Más cerca de ti</h4>
                    <a href="contactanos1.html" class="hero__cta">Contactame ahora</a>

                </div>
            </section>
        </div>
        <div class="hero__wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150"
                preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="presentation container">

            <h2 class="subtitle">SAN FRANCISCO</h2>
            <img src="img/fondor.jpeg" class="presentation__picture">
            <p class="presentation__copy">Bienvenidos al Sistema automático
                conoce todo lo que puedes hacer con tan solo un click.  </p>
            <a href="contactanos1.html" class="presentation__cta">Contactame Ahora</a>
        </section>

        <section class="about container">
            <div class="about__texts">

                <h2 class="subtitle">RR.HH</h2>    
                <p class="about__paragraph">En San Francisco, nos caracterizamo0s  por ser un lugar
                    en el que conservar y mantener las condiciones de trabajo es una prioridad,
                    estimado colaborador mantente informado de todas las novedades y futuros eventos 
                    de la empresa en nuestro Portal Web Oficial.     .
                </p>
                <figure class="about__img">
                    <img src="img/rrundraw_dev_productivity_umsq.svg" class="about__picture">
               </figure>

            
                <h2 class="subtitle">CURSOS DE APOYO</h2>
                <p class="about__paragraph">    Almacén San Francisco es una empresa que tiene como visión ser el líder nacional
                    en la comercialización  de productos de primera necesidad,ofreciendo una experiencia de compra diferente, es por eso
                     que te invita a formar parte de las capacitaciones continuas, para el fortalecimiento de nuestro trabajo
                </p>
                <figure class="about__img--left">
                    <img src="img/undraw_server_status_re_n8ln.svg" class="about__picture">
                </figure>

                <h2 class="subtitle">BOLETÍN SEMANAL</h2>
                <p class="about__paragraph"> Las redes sociales han evolucionado tanto y afianzado en el mundo empresarial
                    como una herramienta esencial, es por eso que  hemos innovado  para que nuestra marca este presente
                    también, SIGUENOS EN NUESTRAS REDES SOCIALES.
                </p>
                <figure class="about__img about__img">
                    <img src="img/undraw_social_girl_re_kdrx.svg" class="about__picture">
                </figure>

            </div>
        </section>

        <section class="projects">
            <div class="container">
                <h2 class="subtitle">CARTELERA VIRTUAL</h2>
                <div class="projects__grid">

                    <article class="projects__item">
                        <img src="img/img1.jpg" class="projects__img">
                        <div class="projets__hover">
                            <h2 class="projects__title">Proyecto</h2>
                            <i class="far fa-file-alt projects__icon"></i>
                        </div>
                    </article>

                    <article class="projects__item">
                        <img src="img/img2.jpg" class="projects__img">
                        <div class="projets__hover">
                            <h2 class="projects__title">Proyecto</h2>
                            <i class="far fa-file-alt projects__icon"></i>
                        </div>
                    </article>

                    <article class="projects__item">
                        <img src=" img/img3.jpg" class="projects__img">
                        <div class="projets__hover">
                            <h2 class="projects__title">Proyecto</h2>
                            <i class="far fa-file-alt projects__icon"></i>
                        </div>
                    </article>

                    <article class="projects__item">
                        <img src="img/img4.jpg" class="projects__img">
                        <div class="projets__hover">
                            <h2 class="projects__title">Proyecto</h2>
                            <i class="far fa-file-alt projects__icon"></i>
                        </div>
                    </article>

                    <article class="projects__item">
                        <img src="img/img5.jpg" class="projects__img">
                        <div class="projets__hover">
                            <h2 class="projects__title">Proyecto</h2>
                            <i class="far fa-file-alt projects__icon"></i>
                        </div>
                    </article>

                </div>
            </div>
        </section>

    </main>

    <footer class="footer">
        <div class="container footer__grid">
            <nav class="nav nav--footer">
                <a class="nav__items nav__items--footer" href="inicio.html">Inicio</a>
                <a class="nav__items nav__items--footer" href="contactanos1.html">Contáctanos</a>
                <a class="nav__items nav__items--footer" href="quienes_somos.html">Quienes somos</a>
                <a class="nav__items nav__items--footer" href="usuarios.html" >Login</a>
            </nav>

            <section class="footer__contact">
                <h3 class="footer__title">Contáctanos</h3>
                <div class="footer__icons">

                    <span class="footer__container-icons">
                        <a class="fab fa-twitter footer__icons" href="#"></a>
                    </span>

                    <span class="footer__container-icons">
                        <a class="fab fa-facebook footer__icons" href="#"></a>
                    </span>

                    <span class="footer__container-icons">
                        <a class="fab fa-whatsapp footer__icons" href="#"></a>
                    </span>

                </div>
            </section>
        </div>
    
        <center style="color: #fff;" >AlmacenSanFrancisco@gmail.com.ec<br> Quito-Ecuador<br>Derechos reservados 2022</center>
    </footer>
</body>

</html>